
<section class="hero">
  <div class="hero-body">
      <div class="order-wrap">
        <h1 class="order-title">
          Your Order Summary
        </h1>
        <h2 class="order-subtitle">
          Complete your order to savour some Ice Scream
        </h2>

      </div>
    </div>
</section>

<div class="order-details-wrap">
  <div class = "order-details-header">
    <h1 class="order-details-title">
      Your Order
    </h1>
  </div>
  <div class = "order-details-store">
    <h1 class="order-details-title">
    </h1>
  </div>

    <% total = 0 %>
    <%= form_for :invoice, url: invoices_path do |f| %>

    <%= f.collection_radio_buttons :delivery_address_id, current_user.delivery_addresses.all, :id, :address %>

    <% @orders.each do |order|   %>
    <%= order.supplier.name %>
    <%= order.flavour.name %> : $<%= order.flavour.price %>
    <% total += order.flavour.price  %>
    <%= order.container.name %> : $<%= order.container.price %>
    <% total += order.container.price  %>
  </br>
  <% end  %>


  <article>
    <% if flash[:error].present? %>
    <div id="error_explanation">
      <p><%= flash[:error] %></p>
    </div>
    <% end %>
    <label class="amount">
      <span>Amount : <%= total %></span>
    </label>
  </article>



</div>


<h1>Your Order</h1>
<h2>Add address for delivery</h2>

<br>


  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%=  hidden_field_tag :total_amount, total %>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="Ice Scream!"
    data-amount="<%= total * 100 %>"
    data-description=""
    data-locale="auto"
    data-currency="SGD"></script>

<% end %>
<%= form_for :delivery_address, url:delivery_address_create_path, remote: true  do |f| %>
<div class="container">
  <div class="notification">
<%= f.text_field :address, placeholder: 'Delivery Address ', class: 'input' %>
<p class="control">
<%= f.submit 'Add Address', class: 'button is-primary' %>
</p>
  </div>
</div>
<% end %>
