<section id="show-order" class="section">

  <h1>Order ID #<%= @individual_order.transaction_id %></h1>

  ID: <%= order.transaction_id %><br>
  Created: <%= order.created_at %><br>
  Flavor: <%= order.flavor.name %><br>
  Price: <%= order.flavor.price %><br>
  
<%= link_to "Edit Order", edit_order_path(@individual_order), class: "button is-info" %>

<%= form_for @individual_order, method: :delete do |f| %>
  <%= f.submit 'Delete Order', class: 'button is-secondary' %>
<% end %>


  <pre>
    <%= params.inspect %>
    <%= @individual_order.inspect %>
  </pre>
</section>
