
<section class="hero is-medium ">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        The ice-cream man is here..
      </h1>
      <h2 class="subtitle">
          pee pooo peee pooo
      </h2>

      <% if user_signed_in? %>
      <%= render 'delivery_address/add_delivery_address' %>
          <%= render 'delivery_address/show_delivery_address' %>
    </div>
    <% end %>
    <%= render 'picture/add_image'%>
    <%= render 'picture/show_image' %>
  </div>

  </div>
</section>
<div class="column"></div>
<div class="columns">
<% @suppliers.each do |supplier|  %>
<a href="/suppliers/<%= supplier.id %>"class="column is-half is multiline">
  <div id="<%= supplier.id %>"
    <p class="notification is-info">
      <code class="html"><%= supplier.name %></code>
    </p>
  </div>
</a>
<% end  %>
</div>
