<section class="hero">
  <div class="hero-body">
      <div class="wrap">
        <h1 class="search-title">
          Your ice cream cravings resolved right now.
        </h1>
        <h2 class="search-subtitle">
          Ice cream delivery to
        </h2>
         <div class="search">
           <form class = "search-form" accept-charset="UTF-8" action="/suppliers" method="get">
           <input type="text" id="field" name = "field" class="searchTerm" placeholder="Search by name, neighborhood or current location" >
            <button type="submit" class="searchButton">
              <i class="fa fa-search"></i>
           </button>
         </form>
         </div>
      </div>
    </div>
</section>
<%= notice %></p>
<%= alert %></p>
<div class="container">
<div class="column"><%= @title%></div>
  <div class="columns is-multiline">
  <% @suppliers.each do |supplier|  %>
<a href="/suppliers/<%= supplier.id %>" class="column is-centered is-one-third is-multiline">
  <div id="<%= supplier.id %>">
    <p class="notification is-info">
      <code class="html"><%= supplier.name %></code>
      <% @Allpicture.each do |picture|  %>
      <% if supplier.id == picture.supplier_id  && picture.profilepic ==true%>
      <%= cl_image_tag(picture.public_id, :width => 200, :height => 200) %>
      <%end %>
      <% end %>
    </p>
  </div>
</a>
<% end  %>
</div>
</div>
</div>
