
<section class="hero">
  <div class="hero-body">

      <h1 class="title">
        The ice-cream man is here..
      </h1>
      <h2 class="subtitle">
          pee pooo peee pooo
      </h2>

      <div class="wrap">
         <div class="search">
           <form class = "search-form" accept-charset="UTF-8" action="/suppliers" method="get">
           <input type="text" id="field" name = "field" class="searchTerm" placeholder="Search by name, neighborhood or current location" >
            <button type="submit" class="searchButton">
              <i class="fa fa-search"></i>
           </button>
         </form>
         </div>
      </div>


    </div>
</section>
<%= notice %></p>
<%= alert %></p>

<div class="container">

<div class="column"><%= @title%></div>

  <div class="columns">
  <% @suppliers.each do |supplier|  %>
<a href="/suppliers/<%= supplier.id %>" class="column is-centered is-one-third is-multiline">
  <div id="<%= supplier.id %>">
    <p class="notification is-info">
      <code class="html"><%= supplier.name %></code>
    </p>
  </div>
</a>
<% end  %>
</div>
</div>

</div>
