<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= @supplier.name %>
      </h1>
      <h2 class="subtitle">
        <%= @supplier.address %>
      </h2>
    </div>
  </div>
  <% if  supplier_signed_in? && current_supplier.id == @supplier.id%>



  <div class="tabs is-centered">
<ul>
  <li class="is-active"><a href="/suppliers/<%= @supplier.id %>">Menu</a></li>
  <li><%= link_to "+IceCream", new_flavour_path, class: "navbar-link" %></li>
    <li><%= link_to "+Addons", new_container_path, class: "navbar-link" %></li>
  <li><%= link_to "Edit Store Profile", edit_supplier_registration_path, class: "navbar-link" %></li>
</ul>
</div>
<% end %>
</section>

<div class="column">
  <% if (!(supplier_signed_in?)) %>
  <div class="columns is-multiline is-mobile is-centered">
    <div id="allOrderitems" class="column is-three-quarters ">

    </div>
  </div>
  <% end %>
  <div class="columns is-multiline is-mobile is-centered">
<%  @flavours.each do |flavour| %>
  <div id='flavour<%= flavour.id %>' class="column is-three-quarters">
    <p class="notification is-info">
      <code class="html"><%= flavour.name %></code>
      <code class="html"><%= flavour.price %></code>
      <code class="html"><%= flavour.image %></code>
      <% if supplier_signed_in? && current_supplier.id == @supplier.id %>
      <span><%= link_to "Delete", "/flavours/#{flavour.id}", class: "navbar-link", method: :delete %></span>
      <% end  %>
      <% if (!(supplier_signed_in?)) %>


<%= link_to "+Get", "#", {name: flavour.name , id: flavour.id , class: "btn btn-info showmodal" } %>

      <% end %>

    </p>
  </div>
<% end %>
</div>
</div>
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title"><%= @supplier.name %></p>
      <button class="delete"></button>
    </header>
    <section class="modal-card-body">
      <p id="flavourimage"></p>
      <% if user_signed_in? %>
      <%= form_for @order ,remote: true do |f| %>
      <%= f.hidden_field :flavour_id, value: '1' %>
      <%= f.hidden_field :supplier_id, value: @supplier.id %>
      <%= f.hidden_field :user_id, value: @user.id %>
      <%= f.collection_radio_buttons(:container_id, @containers, :id , :name)  %>

    </section>
    <footer class="modal-card-foot">
      <button type="submit" id="formorder" class="button is-success">Orderitem</button>
      <a class="button" id="cancel">Cancel</a>
    </footer>
    <% end %>
    <% end %>
  </div>
</div>

<%= cl_image_tag(@supplier.picture, :crop => :fill, :width => 120, :height => 80) %>
