<div class="container is-fluid">
  <div class="notification">
  <p>Email:<%=current_user.email%></p>
  </div>
</div>
<%= link_to 'Edit',edit_user_registration_path(current_user.id) %>

<%= form_for :delivery_address, url: delivery_address_create_path do |f| %>
  <div class="field is-grouped">
    <p class="control is-expanded">
      <%= f.text_field :address, class: 'input', placeholder: 'Delivery address' %>
      <%= f.submit "Create Address" %>
      <% end %>
    </p>
  </div>

<br>

    <%@delivery_addresses.each do |addresses| %>
    <p>Addresses: <%=addresses.address%></p><br>



    <% end %>
